{% extends "studbud/base.html" %}
{% block main %}

<div class="feedback-container">
    <form class="feedback-form" action="/feedback" method="POST">
        {% csrf_token %}
        <h2 style = "width: 50%; background-color:black; margin: auto; border-radius: 10px">Feedback</h2>
        <br>
        <div class="feedback-form-group">
            <textarea placeholder="Feedback Here" required style = "border-radius: 10px; padding: 5px;"></textarea>
        </div>
        <br>
        <button type="submit" class="feedback-btn">Submit</button>
    </form>
</div>

{% endblock %}