{% extends "studbud/base.html" %}
{% block main %}
    <section class = "history">
        Studied with user XXXX for XXX subject
        <br>
        Date: XX/XX/XXXX
    </section>
    <section class = "history">
        Studied with user XXXX for XXX subject
        <br>
        Date: XX/XX/XXXX
    </section>
    <section class = "history">
        Studied with user XXXX for XXX subject
        <br>
        Date: XX/XX/XXXX
    </section>
    <!--
    {% for i in empty %} 
    <section class = "history">
        Studied with user XXXX for XXX subject
        <br>
        Date: XX/XX/XXXX
    </section> 
    -->
    {% endfor %}
{% endblock %}